$Roboto-reg: 'Roboto-Regular', sans-serif;
$Roboto-med: 'Roboto-Medium', sans-serif;
$Roboto-bold: 'Roboto-Bold', sans-serif;
$Syne-reg: 'Syne-Regular','Roboto-Regular', sans-serif;
$Syne-med: 'Syne-Medium','Roboto-Medium', sans-serif;
$Syne-bold: 'Syne-Bold','Roboto-Bold', sans-serif;
$Dmsans-reg: 'DMSans-Regular', sans-serif;
$Dmsans-bold: 'DMSans-Bold', sans-serif;
$Dmsans-med: 'DMSans-Medium', sans-serif;



$accent: #Eccf67;
$text: #000000;
$text-wh: #ffffff;
$color-yellow: #FDB914;
$color-dark: #202020;
$color-red: #EB4B4D;
$color-light: #E8EBF0;
$color-green: #54b928;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
$gutter: $grid-gutter-width;