@import "_vars.scss";

.btn {
  font-family: $Roboto-reg;
  text-align: center;
  font-weight: bold;
  margin: 5px auto;
  max-width: 150px;
  min-width: 120px;
  padding: 8px 16px;
  border-radius: 100px;
  border: 0.5px solid transparent;
  transition: 0.2s ease-out;
  box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 1);
  &:lang(uz){
    font-size: 11px;
  }
  &:lang(ru){
    font-size: 14px;
  }
}
.btnSlide {
  position: relative;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: $text-wh;
  background: $text;
  letter-spacing: 1px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
  &::before{
    z-index: 0;
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $color-yellow;
    transition: width 0.5s, height 0.5s;
  }
  &:hover{
    transition: 0.5s;
    color: $text;
  }
  &:hover::before{
    color: $text;

    z-index: 0;
    width: 350px;
    height: 350px;
  }
  span{
    padding: 15px 70px;
    position: relative;
    z-index: 1;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.btnMain {
  position: relative;
  display: inline-flex;
  box-shadow: 0 2px 4px rgba($color-yellow, 0.25);
  color: $text-wh;
  background: $color-yellow;
  letter-spacing: 1px;
  border-radius: 30px;
  overflow: hidden;
  transition: 1s;

  z-index: 1;
  &:hover{
    transition: 1s;
    color: $text;
    transform: scale(1.05);
  }
  span{
    padding: 15px 70px;
    position: relative;
    z-index: 1;
    &:hover{
      transform: scale(1);
    }
  }
}

.btn-white {
  color: $text-wh;
  border: 0.5px solid $text-wh;
  &:hover {
    color: $text;
    background-color: $text-wh;
    transition: 0.2s ease-out;
    font-weight: bold;
    transform: scale(1.05);
  }
}

.btn-red {
  color: $color-red;
  border: 2px solid $color-red;
  &:hover {
    border: 2px solid $color-red;
    color: $text-wh;
    background-color: $color-red;
    transition: 0.2s ease-out;
    font-weight: bold;
    transform: scale(1.05);
  }
}

.btn-yellow {
  border: 2px solid $color-yellow;
  background-color: $color-yellow;
  color: $text-wh;
  &:hover {
    color: $text-wh;
    background-color: $color-yellow;
    transition: 0.2s ease-out;
    font-weight: bold;
    transform: scale(1.05);
  }
}

.btn-black {
  color: $text;
  border: 1px solid $color-dark;
  &:hover {
    background-color: $color-dark;
    color: $text-wh;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    transform: scale(1.05);
  }
}

.blurred-back{
  background-color: #20202010;
  backdrop-filter: blur(10px);
}