@import "vars";
@import "fonts";
@import "libs";
@import "elements";

::placeholder {
  color: #666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: $accent;
  color: #000;
}


body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $Roboto-reg;

  overflow-x: hidden;
  color: $text;
  background-color: #FFFFFF;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: $color-red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $text;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

.pre-loader {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.header {
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;

  &-content {
    z-index: 2;
    margin: 0 auto 50px auto;
    align-items: center;
  }

  height: 100vh;
  overflow: hidden;

  .main-title {
    padding: 40px 0;
    z-index: 2;
    width: 100%;

    &-text {
      text-align: center;
      color: #FFFFFF;

      h1 {
        line-height: 1.2;
        font-size: 52px;

        span {
          color: #FDB914;
        }
      }

      p {
        margin-top: 20px;
        font-size: 30px;
      }

      a {
        margin-top: 30px;
      }

      .green-pulse {
        position: relative;
        margin-bottom: 10px;
        animation: pulsation 2s infinite;
        @keyframes pulsation {
          0% {
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba($color-yellow, 1);
          }
          70% {
            transform: scale(1);
            box-shadow: 0 0 0 15px rgba($color-yellow, 0);
          }
          100% {
            transform: scale(0.95);
          }
        }
      }

    }
  }

  .hashtags {
    color: $color-light;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: 999;

    &:lang(ru) {
      font-family: 'Ubuntu', sans-serif;
    }

    ul {
      justify-content: space-between;
    }
  }
}

#myVideo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 110%;
  max-width: 110%;
  margin: 0 auto;
}

.navbar {
  padding: 10px 0;
  background-color: rgba(14, 12, 12, 0.2);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;

  img {
    width: 70px;
    height: 100%;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;

  #black-logo {
    display: none;
  }

  #white-logo {
    display: block;
  }

  div {
    margin: 6px 0 0 16px;
    font-size: 24px;
    color: $text;
    line-height: 1;
  }

  img {
    width: 200px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  align-content: center;

  #burger {
    display: flex;

    .list {
      display: flex;
    }
  }
}

.log-reg {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.list {
  &:lang(uz) {
    font-size: 14px;
  }

  &:lang(en) {
    font-size: 16px;
  }

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  &-btn {
    margin-right: 20px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }

    a {
      color: $text-wh;

      &:hover {
        color: $color-yellow;
        transition: 0.3s;
      }
    }
  }

}

.forLang {
  position: relative;
  align-items: center;
}

.slideFrom {
  display: flex;
  left: 0;
  transition: 1s;
}

.language {
  position: absolute;
  top: 0;
  padding: 2px;
  right: -120px;
  box-sizing: border-box;
  margin-right: 18px;
  color: $text-wh;

  .icon-down {
    filter: invert(1);
    transition: 0.3s all;
    margin-left: 10px;
  }

  &_item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;

    a {
      color: #fff;
      display: flex;

      img {
        max-width: 20px;
        margin-right: 10px;
      }
    }

    &:hover {
      color: $text-wh;
    }
  }

  &_main {
    box-sizing: border-box;
    z-index: 2;
    color: #fff;

    p {
      margin-right: 7px;
    }

    img {
      max-width: 20px;
      margin-right: 10px;
    }
  }

  &_other {
    display: none;
    z-index: 0;
  }

  &_wrap {
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    transition: 0.3s all;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px;
  }

  &.opened {
    border-bottom: none;

    .language_main {
      .icon-down {
        transform: rotate(180deg);
      }
    }

    .language_other {
      display: flex;
    }

    .language_wrap {
      transform: translateY(40px);
    }
  }
}


svg {
  #LOGO_E365 {
    #Sun {
      fill: #FDB914;

      #sun-main {
        path {
          stroke: #ffffff;
        }
      }

      #sun-frame {
        rect {
          stroke: #FDB914;
        }
      }

      animation: slide-right 3s both infinite;
      animation-delay: 40ms;
      transform-origin: center;
      transform-box: fill-box;
    }

    @keyframes slide-right {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(110%, 0);
      }
      50% {
        transform: translate(110%, 110%);
      }
      75% {
        transform: translate(0, 110%);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    #Leaf {
      fill: #28a745;

      #leaf-frame {
        path {
          stroke: #28a745;
        }
      }

      animation: slide-down 3s both infinite;
      transform-origin: center;
      animation-delay: 30ms;
      transform-box: fill-box;
    }

    @keyframes slide-down {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(0, 110%);
      }
      50% {
        transform: translate(-110%, 110%);
      }
      75% {
        transform: translate(-110%, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

    #Snowflake {
      fill: #007bff;

      #snow-frame {
        rect {
          stroke: #007bff;
        }
      }

      animation: slide-left 3s both infinite;
      transform-origin: center;
      animation-delay: 20ms;
      transform-box: fill-box;
    }

    @keyframes slide-left {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(-110%, 0);
      }
      50% {
        transform: translate(-110%, -110%);
      }
      75% {
        transform: translate(0, -110%);

      }
      100% {
        transform: translate(0, 0);
      }
    }

    #Cloud {
      fill: #6c757d;

      #cloud-frame {
        path {
          stroke: #6c757d;
        }
      }

      animation: slide-top 3s both infinite;
      transform-origin: center;
      animation-delay: 10ms;
      transform-box: fill-box;
    }

    @keyframes slide-top {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(0, -110%);
      }
      50% {
        transform: translate(110%, -110%);
      }
      75% {
        transform: translate(110%, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }
  }
}

.service {
  background: linear-gradient(90deg, #EB7367 0%, #EB7367 48.44%, #A677BA 56.25%, #A677BA 100%), #A677BA;

  position: relative;


  .swiper-container {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-family: $Roboto-bold;
      font-size: 54px;
      padding: 30px 0;
      line-height: 1.2;
    }

    p {
      width: 35%;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.2;
      margin: 0 auto 50px;
    }

    &:nth-child(1) {
      color: #ffffff;
      background: #EB7367;

      h1 {
        width: 60%;
      }

      span.first-in {
        color: #FDB914;
      }
    }

    &:nth-child(2) {
      //background: linear-gradient(238.46deg, #FFD85A -27139.38%, #F9AE41 -18020.69%);
      background: linear-gradient(90deg, #EB7367 0%, #F9AE41 51.74%);
      overflow: hidden;

      p {
        color: #202020;
      }

      .svg-relaxedMan {
        position: absolute;
        transform: scale(1.2);
        left: 5%;
        bottom: 8%;

        #body, #allMain, #shadow {
          animation: levitate 3s infinite;
          transform-origin: center;
        }

        #sun {
          animation: sun 2s linear infinite;
          transform-origin: center;
          transform-box: fill-box;
        }

        @keyframes sun {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes levitate {
          0% {
            transform: translateY(-3px);
          }
          50% {
            transform: translateY(0px);
          }
          100% {
            transform: translateY(-3px);
          }
        }
      }
    }

    &:nth-child(3) {
      overflow: hidden;
      color: #ffffff;
      background: #34495E;

      p {
        opacity: 0.7;
      }

      .svg-rocket {
        position: absolute;
        width: 25%;
        left: -10px;
        bottom: -20px;

        #LeftCloud {
          animation: shake 1s infinite;
          transform-origin: center;
        }

        #RightCloud {
          animation: shake 1.5s infinite;
          transform-origin: center;
        }

        #flames {
          animation: shake 0.15s infinite;
          transform-origin: center;
        }

        #redFlame, #orangeFlame {
          animation: flame 1s infinite;
          transform-origin: center;
        }

        @keyframes flame {
          from {
            transform: scale(1.2);
          }
          to {
            transform: scale(0.95);
          }
        }
        @keyframes shake {
          0% {
            transform: translate3d(0.5px, 0.5px, 0.5px);
          }
          50% {
            transform: translate3d(-0.5px, -0.5px, -0.5px) scale(0.99);
          }
          100% {
            transform: translate3d(0.5px, 0.5px, 0.5px);
          }
        }
      }

    }

    &:nth-child(4) {
      overflow: hidden;
      color: #ffffff;
      background: linear-gradient(90deg, #34495E 0%, #A677BA 100%);

      p {
        opacity: 0.7;
      }

      .blurred-text {
        position: relative;
        padding: 20px 40px;
        z-index: 0;

        &:before {
          position: absolute;
          content: '';
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          animation: show-hide 3s infinite;
        }

        @keyframes show-hide {
          0% {
            backdrop-filter: blur(0px);
            width: 100%;
          }
          20% {
            backdrop-filter: blur(15px);
            width: 100%;
          }
          60% {
            backdrop-filter: blur(10px);
            width: 0;
          }
          100% {
            backdrop-filter: blur(0px);
            width: 0;
          }
        }
      }
    }

    &:nth-child(5) {
      background: #A677BA;
      color: #ffffff;

      p {
        opacity: 0.7;
      }

      .svg-rolls {
        position: absolute;
        left: 0;
        bottom: 0;

        #roll_top, #roll_bottom, #roll_left {
          animation: rollRight 10s linear infinite;
          transform-origin: center;
          transform-box: fill-box;
        }

        #roll_mid, #roll_right {
          animation: rollLeft 10s linear infinite;
          transform-origin: center;
          transform-box: fill-box;
        }

        @keyframes rollRight {
          from {
            transform: rotateZ(0deg);
          }
          to {
            transform: rotateZ(360deg);
          }
        }
        @keyframes rollLeft {
          from {
            transform: rotateZ(0deg);
          }
          to {
            transform: rotateZ(-360deg);
          }
        }
      }
    }
  }

  .swiper-button-next {
    right: 60px;
  }

  .swiper-button-prev {
    left: 60px;
  }

  .swiper-button-prev, .swiper-button-next {
    outline: none;
    color: #ffffff;

    &:after {

    }
  }
}

span.first-in {
  color: #FDB914;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
}

.tip {
  margin: 0 auto;
  text-align: center;
  color: $color-light;
}

.mouse {
  border: 2px solid $color-light;
  border-radius: 13px;
  display: block;
  height: 46px;
  width: 26px;
  margin: 0 auto;
  margin-top: 20px;
}

.mouse span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  background: none repeat scroll 0 0 $color-light;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  height: 4px;
  margin: 6px auto;
  width: 4px;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.we-provide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;

  h1 {
    font-size: 40px;
    margin-bottom: 40px;

    span {
      color: $color-yellow;
    }
  }
}

.provided {
  text-align: center;
  justify-content: space-between;

  &-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 35px;
  }

  &-item {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 1.1px 36.3px 2.2px rgba(0, 0, 0, 0.05);
    transition: 0.5s;

    &:before {
      position: absolute;
      color: $color-dark;
      font-size: 18px;
      line-height: 1;
      padding-top: 75%;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      position: relative;
      top: 20%;
      max-height: 50px;
    }

    &:nth-child(1) {
      &:before {
        content: attr(aria-label);
      }

      &:after {
        content: url("../img/edo-ico.svg");
      }

    }

    &:nth-child(2) {

      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/bank-ico.svg");
      }
    }

    &:nth-child(3) {
      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/storage-ico.svg");
      }
    }

    &:nth-child(4) {

      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/hr-ico.svg");
      }

    }

    &:nth-child(5) {

      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/report-ico.svg");
      }
    }

    &:nth-child(6) {

      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/stats-ico.svg");
      }
    }

    &:nth-child(7) {
      &:before {
        content: attr(aria-label);
      }

      &:after {
        content: url("../img/soliq-ico.svg");
      }
    }

    &:nth-child(8) {

      &:before {
        content: attr(aria-label);

        font-size: 16px;
      }

      &:after {
        content: url("../img/1C-ico.svg");
      }
    }

    &:nth-child(9) {

      &:before {
        content: attr(aria-label);

      }

      &:after {
        content: url("../img/msfo-ico.svg");
      }
    }

  }

  &-illustration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #C4C4C470;
    padding-left: 45px;

    img {
      max-height: 350px;
    }

    span {
      font-size: 14px;
      padding: 10px 50px;
    }

    p {
      text-align: left;
    }
  }
}

.active-item {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  &:after {
    filter: invert(74%) sepia(84%) saturate(1246%) hue-rotate(345deg) brightness(101%) contrast(102%);
  }
}

.pseudo {
  position: relative;
  display: flex;
  padding-bottom: 10px;

  h3 {
    display: inline-block;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $color-yellow;
    }
  }
}

.offers {
  &-wrapper {
    display: flex;
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    color: $text;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    z-index: 6;
    transition: 0.2s ease-in-out;

    &-list {
      position: relative;
      padding: 10px 0;
      flex: 1 1 auto;
    }

    .active-list {
      position: relative;

      &::before {
        position: absolute;
        content: "(empty)";
        text-align: center;
        left: 0;
        right: 0;
        opacity: 0.5;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;

      button {
        width: 300px;
        padding: 8px 16px;
        cursor: pointer;
        color: $text-wh;
        background-color: $color-yellow;
        border: 2px solid $color-yellow;

        &:hover {
          transition: 0.2s ease-out;
          transform: scale(1.05);
        }
      }
    }

    .btn {
      margin: 15px 0 0 0;
      min-width: 110px;
      max-width: 100%;
      padding: 4px 16px;
      font-weight: 400;

      img.trash {
        position: relative;
        top: -2px;
        width: 16px;
        margin-right: 5px;
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
      }

      img.listOr {
        position: relative;
        top: -2px;
        width: 16px;
        margin-right: 5px;
        filter: invert(100%);
      }

      &:hover img {
        filter: invert(100%);
      }
    }

    &-price {
      font-family: $Roboto-med;
      font-size: 18px;
      padding: 10px 0;
      border-top: 3px solid $color-yellow;
      border-bottom: 3px solid $color-yellow;
      width: 100%;
    }

    &-title {
      font-family: $Roboto-bold;
      line-height: 1.25;
      font-size: 30px;
      padding-bottom: 5px;
    }

    &-item {
      cursor: pointer;
      position: relative;
      padding-left: 30px;
      align-content: center;
      align-items: center;
      font-family: $Roboto-med;
      padding-bottom: 5px;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 5px;
        background: url("../img/checked.svg");
        filter: invert(68%) sepia(92%) saturate(587%) hue-rotate(347deg) brightness(102%) contrast(98%);
        background-size: contain;
        width: 16px;
        height: 16px;
      }
    }

    &-item-add {
      cursor: pointer;
      position: relative;
      align-content: center;
      align-items: center;
      font-family: $Roboto-med;
      display: flex;
      vertical-align: middle;
      padding-bottom: 8px;
    }
  }

  &-block {
    position: relative;
    width: 100%;
    flex-shrink: 1;
  }
}

// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER
// SWITCHER

.rangeFacture {
  -webkit-appearance: none;
  width: 100%;
  padding: 0 3px;
  height: 26px;
  border-radius: 100px;
  border: none;
  background: $color-light;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  // box-shadow: 0 0 3px $color-yellow;
}

.rangeFacture::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: $text-wh;
  cursor: pointer;
}

.rangeFacture::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color-light;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin: 0 10px 0 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-light;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2.3px;
  background-color: white;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: $color-yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-yellow;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  padding-top: 100px;
  font-family: $Roboto-med;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-dark;
  background-size: cover;
  color: $text-wh;

  iframe {
    align-self: flex-end;
  }

  .navbar-brand img {
    filter: invert(0);
    width: 250px;
  }

  img {
    filter: invert(1);
  }

  .txt-white {
    color: #fff;
  }

  &-logo {
    max-width: 200px;
  }

  &-text {
    color: $color-light;
    font-size: 12px;
  }

  &-wrapper {
    display: flex;
    padding: 50px 0;
  }

  &-list {
    border-left: 2px solid $color-yellow;

    ul {
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      transition: 0.3s;
      padding-bottom: 8px;

      &:hover {
        transition: 0.3s;
        transform: scale(1.01);
      }

      a {
        color: $color-light;
        transition: 0.3s;

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }

  &-adress {
    border-left: 2px solid $color-yellow;

    ul {
      position: relative;
      padding-left: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-col {
      position: relative;
      transition: 0.3s;
      margin-bottom: 15px;
      padding-left: 50px;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 28px;
        height: 28px;
        filter: invert(82%) sepia(42%) saturate(2615%) hue-rotate(347deg) brightness(101%) contrast(98%);
        background-size: contain;
      }

      &:nth-child(1) {
        &:hover {
          transition: 0.3s;
          transform: scale(1.01);
        }

        &::before {
          background: url("../img/placeholder.png") no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(2) {
        &:hover {
          a {
            color: $color-yellow;
          }

          transition: 0.3s;
          transform: scale(1.01);
        }

        &::before {
          background: url("../img/phone-call.png") no-repeat;
          background-size: contain;
        }

        background: url("../img/phone-call.png") no-repeat;
        background-size: contain;
      }

      &:nth-child(3) {
        &:hover {
          a {
            color: $color-yellow;
          }

          transition: 0.3s;
          transform: scale(1.01);
        }

        &::before {
          content: none;
          background: url("../img/phone-call.png") no-repeat;
          background-size: contain;
        }
      }

      &:nth-child(4) {
        &:hover {
          a {
            color: $color-yellow;
          }

          transition: 0.3s;
          transform: scale(1.01);
        }

        &::before {
          background: url("../img/gmail.png") no-repeat;
          background-size: contain;
        }
      }

      a {
        color: $color-light;
      }
    }
  }

  &-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-map {
    margin-bottom: 50px;
    border-radius: 50%;

    iframe {
      border-radius: 20px;
    }
  }
}

.socials {
  width: 100%;
  margin: 20px 0;

  &-list {
    display: flex;
    justify-content: flex-start;
  }

  &-item {
    transition: 0.3s;
    padding-right: 18px;

    &:hover {
      transition: 0.3s;
      transform: scale(1.2);
    }

    svg {
      max-width: 30px;
    }
  }
}


body {
  &[lang="ru"] {
    .list-btn a {
      font-family: $Roboto-med;
    }
  }
}

.black-fill {
}

.black-stroke {
}

.activation {
  fill: #000000 !important;
}


////PAGE ABOUT US

.aboutUsPage {
  overflow-y: scroll;
}

.background {
  &-load {
    animation: slide 2s;
  }

  &-slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    animation: slide 30s infinite;
  }

  &-content {
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      height: 100%;
      justify-content: center;
    }

    &-principal {
      h1 {
        font-size: 70px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 42px;
        line-height: 63px;
      }

      p {
        font-size: 25px;
        margin-bottom: 20px;

        b {
          letter-spacing: 2px;
          font-size: 26px;
        }
      }
    }
  }

  @keyframes slide {
    0% {
      background-image: url("../img/back2.jpg");
    }
    20% {
      background-image: url("../img/back2.jpg");
    }
    20.01% {
      background-image: url("../img/back1.jpg");
    }
    40% {
      background-image: url("../img/back1.jpg");
    }
    40.01% {
      background-image: url("../img/back3.jpg");
    }
    60% {
      background-image: url("../img/back3.jpg");
    }
    60.01% {
      background-image: url("../img/back4.jpg");
    }
    80% {
      background-image: url("../img/back4.jpg");
    }
    80.01% {
      background-image: url("../img/back5.jpg");
    }
    100% {
      background-image: url("../img/back5.jpg");

    }
  }
}

.info-page {
  z-index: 99;
  position: relative;
  padding-top: 100px;

  .row {
    justify-content: space-between;
  }
}

.paragraph {
  text-align: left;
  letter-spacing: 1px;
  line-break: strict;
  font-size: 16px;
  line-height: 24px;
  color: #828282;
  margin-bottom: 20px;
}

.page-title {
  z-index: 99;
  position: relative;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.045;
  padding-bottom: 5px;
  margin: 20px 0;
  width: 100%;

  &:before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100px;
    height: 3px;
    background-color: $color-red;
    transition: 0.5s linear;

  }

  &:hover {
    &:before {
      width: 60%;
    }
  }

}

.clients-page {
  z-index: 99;
  position: relative;

}

.backgroundIllustration {
  background: linear-gradient(193.09deg, rgba(255, 255, 255, 0) 27.63%,
          rgba(198, 0, 231, 0.4) 99.38%),
  linear-gradient(130.44deg, #FFFFFF 50.05%, rgba(255, 216, 77, 0) 116.54%);
  position: relative;

  &:before {
    position: absolute;
    z-index: 2;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(97.57% 210.75% at 25.3% -0.08%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(30px);
  }

  .backCube {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }

  .backRound {
    position: absolute;
    bottom: 20%;
    right: -1000px;
  }

  .backOval {
    position: absolute;
    bottom: 50%;
    left: -350px;
  }

  .backSegment {
    position: absolute;
    bottom: 0;
    left: -20%;
    right: 0;
  }
}

.team-page {
  z-index: 99;
  position: relative;
  margin-top: 100px;

  &-text {
    display: flex;
    flex-direction: column;

    :last-child {
      margin-top: 50px;
    }
  }
}

.work-page {
  z-index: 99;
  position: relative;
  padding: 120px 0;
}


.service-page {
  .footer {
    z-index: 99;
    position: relative;
    padding-top: 0;
    background-color: #333333;
  }

  #parallax {
    position: relative;
    background-image: url("../img/service-item-back.png"), url(../img/service-blur-back.jpg);
  }

  .service-types {
    padding: 50px 0;
    position: relative;
    z-index: 99;

    &-desc {
      padding: 100px 0;

      h3 {
        font-size: 25px;
        margin-bottom: 40px;
      }
    }

    &-images {
      margin: 0 auto;

      img {
        max-width: 350px;
      }
    }

    .provided {
      padding: 50px 0 0 0;

      &-item {
        width: 100px;
        height: 100px;

        img {
          max-width: 25px;
        }

        &:after {
          place-content: center;
        }

        &:before {
          content: '';
        }
      }
    }
  }
}

@import "media";
