@import "vars";
@import "fonts";
@import "libs";
@import "elements";
::placeholder {
    color: #666;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::selection {
    background-color: $accent;
    color: #000;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    color: $text;
    input,
    textarea {
        border: #666 1px solid;
        outline: none;
        &:focus:required:invalid {
            border-color: red;
        }
        &:required:valid {
            border-color: green;
        }
    }
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text;
    &:hover{
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    &.img-width {
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

b,
strong {
    font-weight: bold;
}

//   _   _                _
//  | | | | ___  __ _  __| | ___ _ __
//  | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
//  |  _  |  __/ (_| | (_| |  __/ |
//  |_| |_|\___|\__,_|\__,_|\___|_|
.header{
    position: relative;
    margin: 0 auto;
    &-content{
        z-index: 2;
    }
    height: 100vh;
    padding-top: 150px;
    overflow: hidden;
}
#myVideo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
}
//   _   _             ____
//  | \ | | __ ___   _| __ )  __ _ _ __
//  |  \| |/ _` \ \ / /  _ \ / _` | '__|
//  | |\  | (_| |\ V /| |_) | (_| | |
//  |_| \_|\__,_| \_/ |____/ \__,_|_|

.navbar{
    position: relative;
    padding: 20px 0;
    backdrop-filter: contrast(1) blur(10px);
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: .3s;
    img {
        width: 150px;
    }
}
.nav-hide{
    top: 0px;
    transform: translate(0, -100%);
    transition: .3s;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.log-reg{
    display: flex;
    max-width: 400px;
    align-items: baseline;
    justify-content: space-around;
}
.list{
    display: flex;
    align-content: center;
    &-btn{
        margin-right: 20px;
        transition: 0.3s;
        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
        a{
            font-family: $heading-font;
            font-weight: 500;
            font-size: 16px;
            &:hover{
                color: $text-wh;
                transition: 0.3s;
            }
        }
    }
}
//   _____               _            _
//  |  __ \             | |          | |
//  | |__) | __ ___   __| |_   _  ___| |_ ___
//  |  ___/ '__/ _ \ / _` | | | |/ __| __/ __|
//  | |   | | | (_) | (_| | |_| | (__| |_\__ \
//  |_|   |_|  \___/ \__,_|\__,_|\___|\__|___/
.card{
    z-index: 9999;
    display: flex;
    margin: auto;
    padding: 50px;
    max-width: 1110px;
    height: 550px;
    width: 100%;
    border-radius: 30px;
    color: $text-wh;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
}
.blurred-back{
    backdrop-filter: contrast(1) blur(10px);
}

.news{
    margin: 0 auto;
    background-color: $color-light;
    height: 100vh;
    &-page{
        padding: 100px 0;
        justify-content: space-around;
        align-content: center;
        position: relative;
    }
}

.info{
    display: flex;
    flex-direction: column;
    min-width: 120px;
    max-width: 250px;
    text-align: left;
    color: #000;
    padding: 40px 30px;
    margin: 20px 10px;
    border-radius: 30px;
    // background-color: $color-yellow;
    transition: 0.3s;

    &:hover{
        transform: scale(1.05);
        transition: 0.3s;
    }

    &-card{
        display: flex;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-icon{
        max-width: 40px;
    }
    &-title{
        margin: 10px 0;
        font-family: $second-font;
        font-size: 26px;
        span{
            font-size: 30px;
        }
    }
    &-text{
        font-family: $second-font;
        font-size: 16px;
    }
}
@import "media"; // Always at the end