@font-face {
  font-family: 'Syne-Medium';
  src: url('Syne-Medium.eot');
  src: url('Syne-Medium.eot?#iefix') format('embedded-opentype'),
       url('Syne-Medium.svg#Syne-Medium') format('svg'),
       url('Syne-Medium.ttf') format('truetype'),
       url('Syne-Medium.woff') format('woff'),
       url('Syne-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

